* {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    color: $secondary;
}

section.banner {
    width: 100%;
    min-width: 800px;
    height: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $primary;
    animation: flicker 100s infinite;
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        background: url('../images/noise.jpg');
        background-size: 400px;
        opacity: .03;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

@keyframes flicker {
  0% { filter: invert(0); }
  40% { filter: invert(0); }
  41% { filter: invert(100%); }
  69% { filter: invert(100%); }
  70% { filter: invert(0); }
  100% { filter: invert(0); }
}

section.copy {
    width: 100%;
    max-width: 900px;
    padding: 60px 20px;
    color: $copy;
    margin: 0 auto;

    p {
        margin: 0 0 20px 0;
        font-size: 16px;
        line-height: 22px;
    }
}
